.thumbnail {
    position: fixed;
}

.caption {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    font-size: 150px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    text-align: center;
}

.container-top{
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.centered-top{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
.text-categorii{
    font-family: 'Lobster', cursive;
    color: #0275d8;
    text-align: center;
    margin: 10px 0 10px 0;
}

.form-adauga-categorii{
    margin: auto;
    text-align: center;
}

.form-adauga-categorii-divs{
    margin: 5px auto auto auto;
    width: 30%;
}

.custom-footer{
    position: fixed;
    margin-top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-adauga-categorii{
margin: 30px auto 100px auto;
}

.statistics{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

#myInput {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
}