<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/bootstrap.js}"></script>
    <title>Adauga jucarii</title>
</head>
<body th:style="'background-image:url(' + @{/img/backnground3.jpg} + ');background-size: contain;background-repeat: no-repeat;background-position: center center; '">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="index">DEPOZIT JUCARII</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index">Acasă</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="categorii">Categorii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="jucarii">Jucării</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<h2 class="text-categorii">Adaugă jucării</h2>

<form class="form-adauga-categorii" action="#" th:action="@{/addJucarie}" method="post"
      th:object="${jucarie}">
    <div class="form-outline mb-0 form-adauga-categorii-divs">
        <label class="col-form-label-sm" for="forID"><b>ID</b></label>
        <input class="form-control" id="forID" type="number" th:field="*{id}">

    </div>
    <div class="form-outline mb-0 form-adauga-categorii-divs">
        <label class="col-form-label-sm" for="forNumeJucarii"><b>Nume</b></label>
        <input class="form-control" id="forNumeJucarii" type="text" th:field="*{nume}">

    </div>
    <div class="form-outline mb-0 form-adauga-categorii-divs">
        <label class="col-form-label-sm" for="forProducator"><b>Producator</b></label>
        <input class="form-control" id="forProducator" type="text" th:field="*{producator}">
    </div>
    <div class="form-outline mb-0 form-adauga-categorii-divs">
        <label class="col-form-label-sm" for="forVarsta"><b>Varsta</b></label>
        <input class="form-control" id="forVarsta" type="text" th:field="*{varsta}">
    </div>
    <div class="form-outline mb-0 form-adauga-categorii-divs">
        <label class="col-form-label-sm" for="forPret"><b>Pret</b></label>
        <input class="form-control" id="forPret" type="number" th:field="*{pret}">
    </div>
    <div class="form-outline mb-0 form-adauga-categorii-divs">
        <label class="col-form-label-sm" for="forCantitate"><b>Cantitate</b></label>
        <input class="form-control" id="forCantitate" type="number" th:field="*{cantitate}">
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4 btn-adauga-categorii">Adaugă</button>
</form>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 20px auto 20px auto">
    <div class="card-header">INFO</div>
    <div class="card-body">
        <h5 class="card-title">Adăugare jucării</h5>
        <p class="card-text">Din acestă pagină se pot adăuga jucării.</p>
    </div>
</div>

<!--Footer-->
<footer class="bg-light text-center">


    <div class="text-center p-3" style="background-color: rgb(2, 117, 216);">
        <p class="text-white"><b>©2022</b><br>Proiect: Depozit de jucării</p>
    </div>

</footer>

</body>
</html>