<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Depozit Jucarii</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/custom.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/bootstrap.js}"></script>
    <script defer th:src="@{/js/custom.js}"></script>
</head>
<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-center">
    <div class="container-fluid">
        <img style="width: 30px;height: 40px;" class="navbar-brand" th:src="@{/img/logo.png}">
        <a style="font-family: 'Sriracha', cursive;" class="navbar-brand" href="index">Depozit de jucării</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="index">Acasă</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="categorii">Categorii</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="jucarii">Jucării</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">example@depozitdejucarii.ro</a>
                </li>
            </ul>
            <form style="display:flex;" class="form-inline">
                <input style="margin: 0 5px 0 0" class="form-control mr-sm-2" type="search" placeholder="Caută după tip" onkeyup="searchByTypeFunction()" aria-label="Search" id="myInput" />
            </form>
            <!--            <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>-->
        </div>

    </div>
</nav>

<h2 class="text-categorii">Categorii</h2>

<div>
    <table style="width: 80%;margin: 20px auto 20px auto;" class="table table-striped table-bordered table-sm" id="myTable">
        <thead class="thead">
        <tr>
            <th>ID</th>
            <th>Tip Jucarii</th>
            <th>Cantitate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tempCategorii:${categorii}">
            <td th:text="${tempCategorii.id}"</td>
            <td th:text="${tempCategorii.tipJucarii}"</td>
            <td th:text="${tempCategorii.cantitate}"</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="statistics">
    <span>Total intrări:&nbsp;</span>
    <span id="text-intrari-categorii" th:text="${categoriiStat.get(0).getIntrariTotal()}"></span>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <span>Cantitate totală:&nbsp;</span>
    <span id="text-cantitate-categorii" th:text="${categoriiStat.get(0).getCantitateTotal()}"></span>

</div>


<a href="adaugaCategorii" class="container bg-light">
    <div class="col-md-12 text-center">
        <button type="button" style="margin: 10px 0 10px 0" class="btn btn-primary">Adaugă categorii</button>
    </div>
</a>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem; margin: 20px auto 20px auto">
    <div class="card-header">INFO</div>
    <div class="card-body">
        <h5 class="card-title">Categorii</h5>
        <p class="card-text">Din acestă pagină se pot vizualiza categoriile de jucării.</p>
    </div>
</div>

<!--Footer-->
<footer class="bg-light text-center" style="margin-top: 80px">

  <!--  <div class="container p-4 pb-0">

        <section class="">
            <form action="">

                <div class="row d-flex justify-content-center">

                    <div class="col-auto">
                        <p class="pt-2">
                            <strong>Aboneaza-te la newsletter</strong>
                        </p>
                    </div>

                    <div class="col-md-5 col-12">

                        <div class="form-outline mb-4">
                            <input type="email" id="form5Example27" class="form-control" />
                            <label class="form-label" for="form5Example27">Adresa de email</label>
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary mb-4">
                            Aboneaza-te
                        </button>
                    </div>

                </div>

            </form>
        </section>

    </div>-->




    <div class="text-center p-3" style="background-color: rgb(2, 117, 216);">
        <p class="text-white"><b>© 2022</b><br>Proiect: Depozit de jucării</p>
    </div>

</footer>

<script>
    function searchByTypeFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        var totalIntrari = 0;
        var totalCantitate = 0;
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    totalIntrari++;
                    totalCantitate+=parseFloat(table.rows[i].cells[2].innerHTML);
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
        document.getElementById("text-intrari-categorii").innerHTML = totalIntrari;
        document.getElementById("text-cantitate-categorii").innerHTML = totalCantitate;
    }
</script>

</body>
</html>